#screwed {
  -webkit-user-select: none;
  position: absolute;
  margin: 0;
  padding: 0;
  list-style: none;
}
#screwed .day {
  position: absolute;
  background-color: #ccc;
  box-shadow: 0px 5px 3px #888888;
  padding: 10px 20px 10px 20px;
  color: white;
}
.positive li {
  background-color: #000000;
}
.positive li {
  background-color: #ffffff;
}

.background-1 {
  background-color: #BD8383;
  background-image: url('/img/money-01.jpg');
}
.background-2 {
  background-color: #1F0B0B;
  padding-top: 20px;
  color: white;
}
.background-3 {
  background-color: #FFFFFF;
  height: 30em;
}
.background-4 {
  background-color: #BD8383;
}

.header {
  text-shadow: 2px 2px #000000;
  font-family: FortuneCity;
  font-size: 10em;
  margin-top: 1em;
  color: #FFFFFF;
}

.input-container {
    padding-bottom: 3em;
}
.input-container checkbox {
    display: none;
}

@font-face { font-family: FortuneCity; src: url('../fonts/FortuneCity.ttf'); } 
@font-face { font-family: FortuneCity; font-weight: bold; src: url('fonts/FortuneCity.ttf');}