html, body {
  height: 100%;
}
#screwed {
  -webkit-user-select: none;
  position: absolute;
  margin: 0;
  padding: 0;
  list-style: none;
}
#screwed .day {
  position: absolute;
  background-color: #ccc;
  box-shadow: 0px 5px 3px #888888;
  padding: 10px 20px 10px 20px;
  color: white;
  font-weight: bold;
}
#screwed .positive {
  background-color: #046600;
  color: #FFFFFF;
}
#screwed .negative {
  background-color: #E6899F;
}
.footer {
  font-style: italic;
  color: #999999;
}
.background-1 {
  background-color: #BD8383;
}
.background-2 {
  /*background-color: #F1F1F1;*/
  background-color: rgba(255,255,255,1);
  padding-top: 20px;
  color: rgb(80, 80, 80);
}
.background-3 {
  background-color: #FFFFFF;
  height: 30em;
  padding-top: 30px;
}
.background-4 {
  background-color: rgba(255,255,255,0.9);
}

.header {
  text-shadow: 2px 2px #000000;
  font-family: FortuneCity;
  font-size: 10em;
  margin-top: 1em;
  color: #FFFFFF;
}
.header2 {
    color: white;
  
    text-shadow: 2px 2px #000000;
}

.input-container {
    padding-bottom: 3em;
}
.input-container checkbox {
    display: none;
}

@font-face { font-family: FortuneCity; src: url('../fonts/FortuneCity.ttf'); } 
@font-face { font-family: FortuneCity; font-weight: bold; src: url('fonts/FortuneCity.ttf');}

body {
  background-image: url("/img/money-01.jpg");
}